body{
    font-family: 'Arial',
    sans-serif;
    background-color: rgb(218, 225, 218);
    margin: 0;
    padding: 0;
    line-height: 2;
    color: rgb(90, 156, 52);
}
header{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
    padding: 20px 0;
}
header h2{
    margin: 0;
    font-size: 40;
}
img{
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}
section{
    
    padding: 20px;
    margin: 20px;
    background-color: rgb(11, 8, 8);
    border-radius: 10p ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.fut{
    text-align: center;
    margin: 20px;
    padding: 10px;
}
h2{
    text-align: center;
    color: white;

}
ul{
    text-align: center;
    list-style-type: none;
    padding: 0;
}
li{
    margin: 10px 0;
    font-size: 20;
    font-weight: bold;

}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;

}
a:hover{
    color: blue;

}
form{
    text-align: center;

}
footer{
    text-align: center;
    background-color: rgb(21, 13, 13);
    color: wheat;
    padding: 20px 0;

}
footer a{
    color: white;
    font-size: 20px;

}
footer a:hover{
    color: blue;
}
